body {
  font-family: sans-serif;
  margin: 2rem;
  max-width: 1024px;
  background-color: #f4f4f4;
  margin: auto;
  padding: 100px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #0078D7;
  color: white;
  border: none;
  cursor: pointer;
}

.conferma {
  margin-top: 1rem;
  color: green;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

td,
th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.elimina {
  background-color: #D70000;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
}