@page
<link rel="stylesheet" href="/css/style.css" />

<h1>Benvenuto nel modulo contatti 💬</h1>
<p>Usa il menu per accedere:</p>

<ul>
  <li><a href="/contatto">Invia un messaggio</a></li>
  <li><a href="/messaggi">Visualizza i messaggi</a></li>
</ul>
